/* ---- Hero Section ---- */
#hero-section {
    height: 100vh;
    background: url('../img/hero/delphine-ducaruge-lqx7nwaYS9o-unsplash.jpg') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* ---- Solution Section ---- */
#solution-section {
    padding: 9rem 0;
}

#solution-text {
    margin-bottom: 6rem;
}

/* ---- Features Section ---- */
#features-section {
    background-color: #f0f0f0;
}

/* ---- Benefits Section ---- */
#benefits-section h3 {
    margin: 6rem 0;
}

#benefits-section.row {
    margin-bottom: 6rem;
}

.benefit-row {
    margin-bottom: 8rem;
}

/* ---- Rooms Section ---- */
#rooms-section h3 {
    margin: 6rem 0;
}

#grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "a b"
        "a c";
}

.first {
    grid-area: a;
}

.second {
    grid-area: b;
}

.third {
    grid-area: c;
}

/* ---- Testimonials Section ---- */
#testimonials-section{
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: rgb(240, 240, 240);
}

#testimonials-section h3 {
    margin-bottom: 5rem;
}

/* ---- FAQS ---- */
#faqs-section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}